# Môi trường ảo 
venv/
.venv/

# Tệp bí mật 
.env

# Database (Chứa TOÀN BỘ dữ liệu user)
db.sqlite3
*.sqlite3

# Dữ liệu JSON (Chứa review của user)
user_reviews.json

# Các tệp rác của Python
__pycache__/
*.pyc
*.pyo