@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.background-left{
    position: absolute;
   
    width: 500px;
    height: 100px;
    left: 10px;
    transform: scale(1.5);
}

/*CÁI NÀY BẮT BUỘC PHẢI Ở CUỐI FILE, CÓ THÊM THÌ THÊM Ở TRÊN*/
input,
button,
select,
textarea {
    font-family: "Montserrat", sans-serif !important;
}
