/* --- Khung banner --- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.background {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    top: 0;
    z-index: 1000;
}

/* --- Ảnh nền banner --- */
.background img.bg {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
}

/* --- Logo UIA giữa banner --- */
.background img.uia {
    position: absolute;
    top: 50%;                /* căn giữa theo chiều dọc */
    left: 50%;               /* căn giữa theo chiều ngang */
    transform: translate(-50%, -50%); /* thật sự giữa */
    width: 450px;
    height: 200px;
    object-fit: contain;
}

/*CÁI NÀY BẮT BUỘC PHẢI Ở CUỐI FILE, CÓ THÊM THÌ THÊM Ở TRÊN*/
input,
button,
select,
textarea {
    font-family: "Montserrat", sans-serif !important;
}
