/* weblogin.css */

/* ==== Thanh tìm kiếm ==== */
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 500px; /* điều chỉnh theo container */
    gap: 20px;
}

.search-input {
    padding: 8px 12px;
    background-color: #d9d9d9;
    border: 2px solid #d9d9d9;
    border-radius: 20px 20px 20px 20px;
    outline: none;
    width: 200px;
    font-size: 14px;
}



.search-button:hover {
    background-color: #FED57E;
    color: #BC2A12;
}
